<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Cate goties</h1>
        <ul>
            <% categories.forEach((cat)=>{%>
            <li>
                <a href="/<%= cat.category_name %>/<%= cat.category_id %>"
                    ><%= cat.category_name %></a
                >
            </li>
            <% }); %>
        </ul>
        <a href="/category"><button>Create new Category</button></a>
    </body>
</html>
