<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="/update" method="post">
            <label for="category_name">update new Category</label>
            <input
                type="text"
                name="category_name"
                id="category_name"
                placeholder="update new Category"
            />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
