<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1><%= title %> :</h1>
        <form action="/categories/category" method="post">
            <label for="category_name">wriht new Category</label>
            <input
                type="text"
                name="category_name"
                id="category_name"
                placeholder="Inter new Category"
            />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
